* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }



.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 2rem; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    z-index: 10; 
    font-family: 'Atkinson Hyperlegible';
    background-color: #634647;
    
}

.body {
    overflow-x: hidden;
 
    background-color: #fff4eb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 2rem; 
    color: #fff4eb;
    text-decoration: none;
  }


.logo {
    width: 20%;
}

a {
    text-decoration: none; 
    color: #fff4eb; 
    
}

.uwu{
    width: 20%;
    margin-top: 5%;
}


.logete {
    display: flex;
    justify-content: center; 
    align-items: center;     
    
}

.navbar a {
    text-decoration: none;
    color: #fff4eb;
    font-size: 1.2rem; 
    transition: color 0.3s ease; 
}

.navbar a:hover {
    color: #ffcc99; 
    cursor: pointer;
}

.ingles{
    margin-top: 100px;
    font-family: 'Atkinson Hyperlegible';
    color: #634647;
    text-align: end;
    margin-right: 30px;
}

.header{
    font-family: 'Gentium Book';
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
   
    
}

.header, .parrafo{
    text-align: center;
    color: #634647;
    
    
}

.parrafo{
    font-family: 'Atkinson Hyperlegible';
    font-size: 20px;
    
}





footer{
    background-color: #634647;
    font-family: 'Atkinson Hyperlegible';
    color: #fff4eb;
    display: block;
    height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
}

.parrafo2{
    font-family: 'Atkinson Hyperlegible';
    font-size: 17px;
    text-align: center;
    color: #634647;
    padding: 40px;
    margin-top: 20px;
}

.qr{
    display: flex;
    margin: 0 auto;
    width: 250px;
}

.link{
    color: #634647;
    text-align:center;
    display:block;
    margin-top: 30px;
    font-size: 17px;
    font-family: 'Atkinson Hyperlegible';
    text-decoration: underline;
}

.linkingles{
    margin-top: 100px;
    font-family: 'Atkinson Hyperlegible';
    color: #634647;
    text-align: end;
   text-decoration: underline;
}


@media (max-width: 768px) {
    .body{
        flex-direction: column;
    }
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: #fff4eb;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #634647;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        border-radius: 10px;
        padding: 10px;
        z-index: 100;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }

}
